<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Octo Marshal</title>
    <%= stylesheet_tag "app", expand: settings.development? %>
  </head>
  <body class="app">
    <%= javascript_tag "app", expand: settings.development? %>
  </body>
</html>