<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Octo Marshal</title>
    <%= stylesheet_tag "app", expand: settings.development? %>
  </head>
  <body class="login">
    <div class="container">
      <header class="row">
        <h2>Slightly Saner Github Teams</h2>
        <h1>Octo Marshal</h1>
      </header>
      <div class="row sign-in">
        <strong>Sign In:</strong>
        <strong><a href="/login" class="github">Github</a></strong>
      </div>
<!--       <footer class="row">
        <a href="#">Source</a>
        |
        <a href="#">Contact</a>
      </footer> -->
    </div>
  </body>
</html>