<div class="panel">
  <h4><a href="#" class="repo-name">{{name}}</a> <small>{{language}}</small></h4>
  <p>{{description}}</p>
  <p>
    <a href="{{html_url}}" target="_blank">on Github</a>
  </p>
</div>