<strong>
  <img src="https://secure.gravatar.com/avatar/{{gravatar_id}}?s=30" alt="{{login}}" width="30" height="30">
  {{! TODO: this should be a disclosure link showing which repos this user is on}}
  <a href="{{html_url}}" target="blank">{{login}}</a>
</strong>
